body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

header{
    padding: 24px;
    background-color: black;
    color: white;
    margin-bottom: 32px;
}

#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    background-color: aquamarine;
    border: 4px solid black;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
}

.card img{
    height: 100px;
}

.type{
    border: 2px solid black;
    padding: 5px;
    border-radius: 8px;
}

.d-none{
    display: none;
}

.background{
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bigCard{
    background-color: white;
    border: 4px solid black;
    border-radius: 16px;
    width: 500px;
    height: 600px;
    gap: 0;
}

#bigCard img{
    height: 200px;
    position: relative;
    bottom: -80px;
}

.upperCard{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px;
    background-color: aqua;
    border-radius: 13px;
}

.changeCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.closeX{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 50px;
    -webkit-text-stroke: 4px black;
    cursor: pointer;
}

.arrow{
    font-size: 50px;
    cursor: pointer;
}

.lowerCard{
    height: 300px;
    padding: 16px;
}

.menu{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    color: black;
    cursor: pointer;
}

.menu h3:hover{
    color: red;
}

.menu-open{
    color: red;
    border-bottom: 4px solid red;
}

#moves{
    overflow-y: scroll;
    height: 160px;
    text-overflow: clip;
}